<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/sessionManagement.js"></script>

<title>Sessions</title>
</head>
<body ng-app="sessionManagementController"
	ng-controller="sessionManagement">


	<div layout:fragment="content">

		<!-- 	<button ng-click="killMeSession()">hapus</button> -->

		<form class="form-horizontal">
			<fieldset id="commentFS">
				<legend>Session</legend>
				<div class="form-group">
					<div class="col-sm-3">
						<select class="form-control" ng-change="selectedKolom()"
							ng-model="kolom">
							<option value="" disabled="disabled" selected="selected">--
								Kolom --</option>
							<option value="userid">User ID</option>
							<option value="token">Token</option>
							<option value="host">Host</option>
							<option value="waktulogin">Waktu Login</option>
							<option value="aktivitasterakhir">Aktivitas Terakhir</option>
							<option value="namalengkap">Nama Lengkap</option>
							<option value="roles">Roles</option>
						</select>
					</div>
					<div class="col-sm-3" ng-if="kolom == undefined">
						<input type="text" ng-disabled="kolom == undefined"
							class="form-control" />
					</div>

					<div class="col-sm-3"
						ng-if="kolom == 'userid' || kolom == 'token' || kolom == 'host' 
				           || kolom == 'namalengkap' || kolom == 'roles'">
						<input type="text" ng-model="searchEngine"
							ng-change="searchFunction(searchEngine)" class="form-control" />
					</div>

					<div class="col-sm-3"
						ng-if="kolom == 'waktulogin' || kolom == 'aktivitasterakhir'">
						<input type="date" ng-model="searchEngineTime"
						style="vertical-align: middle;text-align: center; "
							ng-change="searchFunction(searchEngineTime)" class="form-control" />
					</div>

					<div class="col-sm-1">
						<input type="hidden" ng-model="pageNumber" />
						<button type="submit" class="col-sm-2 btn btn-warning btn-block">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>

					<div class="col-sm-1">
						<input type="hidden" ng-model="pageNumber" /> <a
							th:if="${MENUDOWNLOADSESSION}"
							th:href="@{/maintenaceSessions/downloadableFile}"
							class="col-sm-2 btn btn-warning btn-block"> <span
							class="glyphicon glyphicon-save-file"></span>
						</a>
					</div>
				</div>
			</fieldset>
		</form>

		<style>
.sortBubble {
	position: relative;
	padding: 0;
	border: none;
	background: none;
	font-size: 8px;
	float: right;
}
</style>

		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow-y: hidden;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">No</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">User
							Id</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Token

						</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Host

						</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Waktu
							Login</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Aktivitas
							Terakhir</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Nama
							Lengkap</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Roles

						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in listSessions">
						<td style="text-align: center; border: 1px solid black;">{{$index+1}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.principal.userName}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.sessionId}}</td>
						<td style="text-align: center; border: 1px solid black;"></td>
						<td style="text-align: center; border: 1px solid black;">{{list.firstLoginInFormat
							}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.lastRequestOnFormat}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.principal.longName}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.principal.roleDesc}}</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="11">Showing {{pageNumber}} to {{totalPage}} of
							{{total}} Entry
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber >= totalPage"
								ng-click="pageFunction(pageNumber+1)">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{pageNumber}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber == 1"
								ng-click="pageFunction(pageNumber-1)">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>