<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/masterPicture.js"></script>

<title>Parameter Picture</title>
</head>
<body ng-app="masterPictureController" ng-controller="masterPicture">


	<div layout:fragment="content">

		<!-- 	<button ng-click="killMeSession()">hapus</button> -->


		<style>
.sortBubble {
	position: relative;
	padding: 0;
	border: none;
	background: none;
	font-size: 8px;
	float: right;
}
</style>

		<legend>Parameter Carousel</legend>


		<button ng-click="updateLang(list.reffId)" data-toggle="modal"
			data-target="#addText">Tambah Carousel</button>


		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow-y: hidden;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Nomor</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Gambar</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Link</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Action</th>



						<th></th>
					</tr>
				</thead>
				<tbody>


					<tr ng-repeat="list in listPicture">
						
						<td
							style="vertical-align: middle; text-align: center; border: 1px solid black;">

							{{$index+1}}</td>
						<td
							style="vertical-align: middle; text-align: center; border: 1px solid black;"><img
							src="shared/master-picture/picture?draft={{list.linkUrl}}"
							alt="Los Angeles" style="width: 35%; height: 35%;" /></td>
						<td
							style="vertical-align: middle; text-align: center; border: 1px solid black;">

							{{list.directedUrl}}</td>
						<td
							style="vertical-align: middle; text-align: center; border: 1px solid black;"><button
								th:if="${MENUUPDATELANGUANGE}" class="btn btn-warning btn-block"
								ng-click="updateLang(list.reffId)" data-toggle="modal"
								data-target="#updateText">Ubah</button>
							<button th:if="${MENUUPDATELANGUANGE}"
								class="btn btn-success btn-block"
								ng-click="hapusLang(list.reffId)" data-toggle="modal"
								data-target="#hapusText">Hapus</button></td>	
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</tbody>
			</table>
			<!-- 			<link class="jsbin" -->
			<!-- 				href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" -->
			<!-- 				rel="stylesheet" type="text/css" /> -->
			<!-- 			<script class="jsbin" -->
			<!-- 				src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
			<!-- 			<script class="jsbin" -->
			<!-- 				src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> -->
			<style type="text/css">
article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity : 0);
	opacity: 0;
	z-index: 2;
}
</style>


			<div class="modal fade" id="updateText" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="text-center">
								<img style="width: 50px; height: 50px;"
									src="file/images/Bank_Mega_2013.svg" alt="sunil"
									class="rounded" />
							</div>
							<h5 class="modal-title" id="exampleModalLabel"><b style="text-align: center;">Ubah Carousel</b></h5>
						</div>
						<div class="modal-body">

							<div class="form-group">
								<label for="maxPes" class="col-sm-3 control-label pull-left"
									style="text-align: left">Link</label>
								<div>
									<input class="col-sm-7" type="text" ng-model="dataLink" />
								</div>

							</div>

							<div class="form-group">
							<input type="file"  name="fileInput" onchange="angular.element(this).scope().readFile(event)"/>
							</div>

							<div class="form-group">
								<div class="row"
									style="text-align: center; position: relative; top: 10px;">
									<img id="blah" src="#" alt="your image" />
								</div>
							</div>

						</div>
						<div></div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-disabled="dataLink == '' || dataLink==undefined" ng-click=""
								data-toggle="modal" data-target="#confirmSaveText">
								<i class="fa fa-arrow-right"></i> Simpan
							</button>
							<button type="button" class="btn btn-secondary"
								ng-click="cancelRegist()" data-dismiss="modal">
								<i class="fa fa-times"></i> Batal
							</button>
						</div>

					</div>
				</div>
			</div>

			<div class="modal fade" id="addText" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="text-center">
								<img style="width: 50px; height: 50px;"
									src="file/images/Bank_Mega_2013.svg" alt="sunil"
									class="rounded" />
							</div>
							<h5 class="modal-title" id="exampleModalLabel"><b>Tambah Carousel</b></h5>
						</div>
						<div class="modal-body">

							<div class="form-group">
								<label for="maxPes" class="col-sm-3 control-label pull-left"
									style="text-align: left">Link </label>
								<div>
									<input class="col-sm-7" type="text" ng-model="dataLink" />
								</div>

							</div>

							<div class="form-group">
								<div class="row">
									<input type="file"  name="fileInput"
											onchange="angular.element(this).scope().addFile(event)" />
								</div>
							</div>

							<div class="form-group">
								<div class="row" 
									style="text-align: center; position: relative; top: 30px;">
									
									<img id="blah2" src="#" alt="your image" />
									
								</div>
							</div>

						</div>
						<div></div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-disabled="dataLink == '' || dataLink==undefined" ng-click=""
								data-toggle="modal" data-target="#confirmAddText">
								<i class="fa fa-arrow-right"></i> Simpan
							</button>
							<button type="button" class="btn btn-secondary"
								ng-click="cancelRegist()" data-dismiss="modal">
								<i class="fa fa-times"></i> Batal
							</button>
						</div>

					</div>
				</div>
			</div>


			<div class="modal fade" id="confirmSaveText" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">
							Apakah Anda yakin mengubah template ini?
							<p style="color: red;">Peringatan template yang diubah akan
								langsung terimplementasi ke ESBN-WEB.</p>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="SavePicture()" data-target="#loading"
								data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="hapusText" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">
							Apakah Anda yakin menghapus template ini?
							<p style="color: red;">Peringatan template yang terhapus akan
								langsung terimplementasi ke ESBN-WEB.</p>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="deletePicture()">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="confirmAddText" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">
							Apakah Anda yakin menyimpan template ini?
							<p style="color: red;">Peringatan template yang tersimpan
								akan langsung terimplementasi ke ESBN-WEB.</p>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="addPicture()" data-target="#loading"
								data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="loading" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="width: 108%">


						<div class="modal-body" ng-if="itsLoading.waitModal">
							<img src="file/images/m-loading.gif" alt="Los Angeles"
								style="width: 100%; height: 300px;" />
						</div>
						<div class="modal-body" ng-if="itsLoading.invalidModal">
							{{reason}}</div>
						<div class="modal-body" ng-if="itsLoading.validModal"
							style="text-align: justify;">
							<p ng-bind-html="reason"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="okLoading()" data-dismiss="modal" data-toggle="modal"
								ng-if="itsLoading.validModal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								ng-if="itsLoading.invalidModal" data-dismiss="modal"
								data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</body>
</html>