<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/languangeManagement.js"></script>

<title>Language</title>
</head>
<body ng-app="languangeManagementController"
	ng-controller="languangeManagement">


	<div layout:fragment="content">

		<!-- 	<button ng-click="killMeSession()">hapus</button> -->

		<form class="form-horizontal">
			<fieldset id="commentFS">
				<legend>Language</legend>
				<div class="form-group">
					<div class="col-sm-3">
						<select class="form-control" ng-change="selectedKolom()"
							ng-model="kolom.lang">
							<option value="" disabled="disabled" selected="selected">--
								Bahasa --</option>
							<option value="id">Indonesia</option>

						</select>
					</div>
					<div class="col-sm-3">
						<select class="form-control" ng-change="selectedKolom()"
							ng-model="kolom.type">
							<option value="" disabled="disabled" selected="selected">--
								Kategori --</option>
							<option value="disclaimer">Disclaimer (S dan K)</option>
							<option value="guide">Tata cara pembayaran (Guide)</option>

						</select>
					</div>

					<div class="col-sm-2">
						<input type="hidden" ng-model="pageNumber" />
						<button type="submit" ng-click="filterFunction(1)"
							class="col-sm-2 btn btn-warning btn-block">Search</button>
					</div>

				</div>
			</fieldset>
		</form>

		<style>
.sortBubble {
	position: relative;
	padding: 0;
	border: none;
	background: none;
	font-size: 8px;
	float: right;
}
</style>

		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow-y: hidden;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Perintah</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Bahasa</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Nomor</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Tulisan</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in listLanguange">
						<td style="text-align: center; border: 1px solid black;"><button
								th:if="${MENUUPDATELANGUANGE}"
								class="col-sm-2 btn btn-warning btn-block"
								ng-click="updateLang(list)" data-toggle="modal"
								data-target="#updateText">Ubah</button></td>
						<td style="text-align: center; border: 1px solid black;"><p
								ng-if="list.wordingLanguangeId == 'id'">Indonesia</p></td>
						<td style="text-align: center; border: 1px solid black;">{{list.refferenceId}}</td>
						<td style="text-align: center; border: 1px solid black;">
							<p ng-bind-html="list.wordingDetail"></p>
						</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="11">Showing {{pageNumber}} to {{totalPage}} of
							{{total}} Entry
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber >= totalPage"
								ng-click="pageFunction(pageNumber+1)">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{pageNumber}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber == 1"
								ng-click="pageFunction(pageNumber-1)">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="modal fade" id="updateText" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">


							<!-- 						<button type="button" class="btn btn-secondary" -->
							<!-- 								ng-click="okSaveData()" > -->
							<!-- 								<i class="fa fa-check"></i> Raw		 -->
							<!-- 						</button> -->
							<!-- 						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 -->
							<!-- 						<button type="button" class="btn btn-secondary" -->
							<!-- 								ng-click="okSaveData()" > -->
							<!-- 								<i class="fa fa-check"></i> Beautify -->
							<!-- 						</button> -->
							<!-- 						<div style="height: 20px;"/> -->

							<textarea rows="20" cols="78"
								ng-model="listUpdated.wordingDetail"></textarea>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-toggle="modal" data-target="#confirmSaveText">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="confirmSaveText" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">
							Apakah Anda yakin menyimpan template ini?
							<p style="color: red;">Peringatan template yang tersimpan
								akan langsung terimplementasi ke ESBN-WEB.</p>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="okUpdateData()" data-dismiss="modal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>