<!-- Logo -->
<a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>ESBN</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b> 
    <img style="width: 35%; height: 35%;"
			th:src="@{/file/images/Bank_Mega_2013.svg}" alt="sunil" class="rounded" />
    ESBN</b>  </span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" >
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img th:src="@{/dist/img/user_avatar2.jpg}" class="user-image" alt="User Image" />
                    <span class="hidden-xs" th:text="${nama_nasabah}"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img th:src="@{/dist/img/user_avatar2.jpg}" class="img-circle" alt="User Image" />

                        <p>
                            <div th:text="${kelengkapan_nasabah}"></div>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-right">
                            <a th:href="@{/logout}" class="btn btn-default btn-flat">Logout</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
          
        </ul>
    </div>
</nav>