<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<!--         <li class="active treeview"> -->
		<!--             <a href="#"> -->
		<!--                 <i class="fa fa-dashboard"></i> <span>Dashboard</span> -->
		<!--             </a> -->
		<!--         </li> -->
		<!--         <li class="treeview"> -->
		<!--             <a href="#"> -->
		<!--                 <i class="fa fa-folder"></i> -->
		<!--                 <span>Registration</span> -->
		<!--                 <i class="fa fa-angle-left pull-right"></i> -->
		<!--             </a> -->
		<!--             <ul class="treeview-menu"> -->
		<!--                 <li><a href="/customers"><i class="fa fa-circle-o"></i> Customers</a></li> -->
		<!--             </ul> -->
		<!--         </li> -->
		<li class="active treeview"><a th:href="@{/}"> <i
				class="fa fa-puzzle-piece"></i> <span>Beranda</span>

		</a></li>
		<li th:if="${MENUUSERMANAGEMENT}" class="treeview"><a href="#">
				<span>User Management</span>
		</a>
			<ul class="treeview-menu">
				<li th:if="${MENUUSERLIST}" class="treeview"><a href="#"> <span>List</span></a>
					<ul class="treeview-menu">
						<li th:if="${MENUUSERLIST}"><a th:href="@{/userNasabah}">
								Nasabah</a></li>
						<li th:if="${MENUUSERLIST}"><a th:href="@{/userList}">
								User Internal</a></li>
					</ul>
				</li>
				<li th:if="${UPLOADFILE}"><a th:href="@{/uploadUser}">Upload
						User - File</a></li>
			</ul></li>
		<li class="treeview" th:if="${MENUSESSION}"><a
			th:href="@{/sessions}"> <i class="fa fa-puzzle-piece"></i> <span>Sessions
			</span>
		</a></li>
		<li class="treeview" th:if="${MENULANGUANGE}"><a
			th:href="@{/languange}"> <i class="fa fa-puzzle-piece"></i> <span>Language</span>
		</a></li>

		<li th:if="${MENUREPORTLOGIN}" class="treeview"><a href="#">
				<span>Report Login</span>
		</a>
			<ul class="treeview-menu">
				<li th:if="${MENUUSERLIST}"><a th:href="@{/report-login}">
						<i class="fa fa-puzzle-piece"></i> <span>Report User Login</span>
				</a></li>
				<li th:if="${MENUUSERLIST}"><a
					th:href="@{/report-login-nasabah}"> <i
						class="fa fa-puzzle-piece"></i> <span>Report Nasabah Login</span>
				</a></li>

			</ul></li> 

		<li class="treeview"><a th:href="@{/email-log}"
			th:if="${MENUEMAILLOG}"> <i class="fa fa-puzzle-piece"></i><span>Email
					Log</span></a></li>
		<li class="treeview"><a th:href="@{/sms-log}"
			th:if="${MENUSMSLOG}"><i class="fa fa-puzzle-piece"></i> <span>SMS
					Log</span> </a></li>
		<li class="treeview"><a href="#"> <span>Parameter</span>
		</a>
			<ul class="treeview-menu">
				<li><a th:href="@{/master-picture}"> <i
						class="fa fa-puzzle-piece"></i> <span>Carousel</span>
				</a></li>

			</ul></li>
		<!--         <li class="treeview"> -->
		<!--             <a href="#"> -->
		<!--                 <i class="glyphicon glyphicon-briefcase"></i> -->
		<!--                 <span>Transaksi</span> -->
		<!--             </a> -->
		<!--               <ul class="treeview-menu"> -->
		<!--                 <li><a th:href="@{/transaksi-pemesanan}"><i class="glyphicon glyphicon-shopping-cart"></i> Pemesanan</a></li> -->
		<!--                 <li><a th:href="@{/transaksi-earlyRedemption}"><i class="glyphicon glyphicon-tag"></i> Early Redemption</a></li> -->
		<!--             </ul> -->
		<!--         </li> -->
		<!--         <li class="treeview"> -->
		<!--                <a href="#"> -->
		<!--                 <i class="glyphicon glyphicon-modal-window"></i> -->
		<!--                 <span>Monitoring</span> -->
		<!--             </a> -->
		<!--             <ul class="treeview-menu"> -->
		<!--                 <li><a th:href="@{/esbn-monitoring-pemesanan}"><i class="glyphicon glyphicon-bookmark"></i>Monitoring Pemesanan</a></li> -->
		<!--                 <li><a th:href="@{/esbn-monitoring-earlyRedemption}"><i class="glyphicon glyphicon-bookmark"></i>Monitoring Early Redemption</a></li> -->
		<!--             </ul> -->
		<!--         </li> -->
	</ul>
</section>
<!-- /.sidebar -->