<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Dashboard</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				Selamat Datang <span class="hidden-xs" th:text="${userName}"></span>
			</div>
		</div>
	</div>
</body>
</html>