<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/uploadUser.js"></script>

<title>Upload User</title>
</head>
<body ng-app="uploadUserController" ng-controller="uploadUser">


	<div layout:fragment="content">

		<!-- 	<button ng-click="killMeSession()">hapus</button> -->

		<style type="text/css">
div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity : 0);
	opacity: 0;
	z-index: 2;
}
</style>

		<form class="form-horizontal">
			<fieldset id="commentFS">
				<legend>User Management - Upload User</legend>
				<div class="form-group">

					<div class="col-sm-2" th:if="${MENUUPLOADFILE}">
						<input type="hidden" ng-model="pageNumber" />
						<div class="fileinputs">
							<input type="file" class="file" name="fileInput"
								onchange="angular.element(this).scope().readExcelFile(event)" />
							<div class="fakefile">
								<input class="col-sm-3 btn btn-warning btn-block"
									value="Upload File" />
							</div>
						</div>

					</div>
					<div class="col-sm-2" th:if="${MENUDOWNLOADFORMAT}">
						<input type="hidden" ng-model="pageNumber" /> <a
							style="background-color: green; text-align: center;"
							href="userMaintenanceWsCtl/downloadableFormat"
							class="col-sm-1 btn btn-warning btn-block">Download Format</a>
					</div>
					<div class="col-sm-2" th:if="${MENUDOWNLOADREJECTED}">
						<input type="hidden" ng-model="pageNumber" /> <a
							ng-if="bodyDownload!=undefined"
							ng-disabled="bodyDownload==undefined||bodyDownload==''"
							style="background-color: green; text-align: center;"
							href="userMaintenanceWsCtl/downloadableRejectedFile/{{bodyDownload}}"
							class="col-sm-1 btn btn-warning btn-block">Download Rejected</a>
						<button ng-model="pageNumber"
							style="background-color: green; text-align: center;"
							ng-if="bodyDownload==undefined"
							ng-disabled="bodyDownload==undefined||bodyDownload==''"
							class="col-sm-1 btn btn-warning btn-block">Download
							Rejected</button>
					</div>



					<div class="col-sm-2">
						<select class="form-control" ng-change="selectedKolom()"
							ng-model="kolom">
							<option value="" disabled="disabled" selected="selected">--
								Kolom --</option>
							<option value="token">Ext</option>
							<option value="userid">File</option>
							<option value="host">Size</option>
							<option value="aktivitasterakhir">Total Accepted</option>
							<option value="waktulogin">Total Data</option>
							<option value="namalengkap">Total Rejected</option>
							<option value="roles">Upload By</option>
						</select>
					</div>

					<div class="col-sm-3">
						<input type="text" ng-model="searchEngine" class="form-control"
							ng-change="searchFunction()" />
					</div>

					<div class="col-sm-1">
						<input type="hidden" ng-model="pageNumber" />
						<button type="submit" ng-click="searchFunction()"
							class="col-sm-2 btn btn-warning btn-block">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>

				</div>
			</fieldset>
		</form>

		<style>
.sortBubble {
	position: relative;
	padding: 0;
	border: none;
	background: none;
	font-size: 8px;
	float: right;
}
</style>

		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow-y: hidden;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>

						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;"></th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">No.</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">File</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Ext</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Size</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Total
							Data</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Total
							Accepted</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Total
							Rejected</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Upload
							By</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in listRejected">
						<td style="text-align: center; border: 1px solid black;"><input
							type="checkbox" ng-model="list.isSelected"
							ng-change="checkData(list.detectedNameDownload,$index)" /></td>
						<td style="text-align: center; border: 1px solid black;">{{$index+1}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.file}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.ext}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.size}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.totalData}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.totalAccepted}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.totalRejected}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.uploadBy}}</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="11">Showing {{pageNumber}} to {{totalPage}} of
							{{total}} Entry
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber >= totalPage"
								ng-click="pageFunction(pageNumber+1)">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{pageNumber}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber == 1"
								ng-click="pageFunction(pageNumber-1)">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>