<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>


<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.min.css" />
<!-- iCheck -->
<link rel="stylesheet" href="plugins/iCheck/square/blue.css" />
<link href="style/captcha-custom.css" rel="stylesheet" />
<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<!--for datepicker angular-->
<link href="assets/datepicker-google-lapis/datepicker.css"
	rel="stylesheet" type="text/css" />
<script src="assets/datepicker-google-lapis/datepicker.js"></script>
<script src="assets/datepicker-google-lapis/datepicker-ui.js"></script>
<script
	src="assets/datepicker-google-lapis/ajax-datepicker-google-lapis.js"></script>
<link href="assets/datepicker-google-lapis/datepicker.css"
	rel="stylesheet" type="text/css" />
<!--for datepicker angular-->
<script src="assets/dom/UserMaintenanceManagementNasabah.js"></script>
<!--for datepicker angular-->
<title>List User Nasabah</title>
</head>
<body ng-app="userManagementNasabahController" ng-controller="userManagementNasabah">


	<div layout:fragment="content">

		<!-- 	<button ng-click="killMeSession()">hapus</button> -->


		<form class="form-horizontal">
			<fieldset id="commentFS">
				<legend>User Management - List User Nasabah</legend>

				<div class="col-sm-1" th:if="${MENUVIEWUSER}">
					<input type="hidden" ng-model="pageNumber" />
					<button type="submit" ng-click="seeMyData()"
						style="background-color: green" data-toggle="modal"
						data-target="#editView" class="col-sm-2 btn btn-warning btn-block">VIEW</button>
				</div>
				<div class="col-sm-1" th:if="${MENUEDITUSER}">
					<input type="hidden" ng-model="pageNumber" />
					<button type="submit" ng-click="editMyData()"
						style="background-color: blue"
						class="col-sm-2 btn btn-warning btn-block" data-toggle="modal"
						data-target="#editView">EDIT</button>
				</div>
				<div class="col-sm-2" th:if="${MENUFORCE}">
					<input type="hidden" ng-model="pageNumber" />
					<button type="submit" ng-click="forcedClosed()"
						style="background-color: grey"
						class="col-sm-2 btn btn-warning btn-block">Force Logout</button>
				</div>

				<div class="modal fade" id="editView" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="text-center">
									<img style="width: 50px; height: 50px;"
										src="file/images/Bank_Mega_2013.svg" alt="sunil"
										class="rounded" />
								</div>
								<h5 class="modal-title" id="exampleModalLabel">
									<div ng-if="formMaster.isView">Lihat User</div>
									<div ng-if="formMaster.isEdit">Ubah User</div>
								</h5>
							</div>
							<div class="modal-body">
								<div class="row">
									<div></div>
									<div ng-if="formMaster.isWrong">Mohon Pilih Data Terlebih
										Dahulu</div>
									<div ng-if="formMaster.isView || formMaster.isEdit"
										class="col-md-12">
										<form action="#" class="form" role="form" id="login-nav">
											<div class="form-group">
												<b>SID </b> <input ng-disabled="true" type="text"
													class="form-control" ng-model="myData.sid"
													placeholder="User SID" non-null="non-null" />
											</div>
											<div class="form-group">
												<b>Nama Lengkap </b> <input
													ng-disabled="formMaster.isView || cannotBeChanged"
													type="text" class="form-control"
													ng-model="myData.namaLengkap" placeholder="Nama Lengkap"
													non-null="non-null" />
											</div>
											<div class="form-group">
												<b>Email </b> <input
													ng-disabled="formMaster.isView || cannotBeChanged"
													type="text" class="form-control" ng-model="myData.email"
													placeholder="Email" non-null="non-null" />
											</div>
											<div class="form-group" ng-if="formMaster.isView">
												<b>Is Login </b> <select ng-disabled="formMaster.isView"
													class="form-control"
													ng-options="res.value for res in trueFalse"
													ng-change="selectedKolom()" ng-model="myData.isLogin">

												</select>
											</div>
											<div class="form-group"></div>
											<div class="form-group">
												<b>Enabled </b><select ng-disabled="formMaster.isView"
													class="form-control"
													ng-options="res.value for res in trueFalse"
													ng-change="selectedKolom()" ng-model="myData.enabled">

												</select>
											</div>
											<div class="form-group">
												<b>Locked </b><select ng-disabled="formMaster.isView"
													class="form-control"
													ng-options="res.value for res in trueFalse"
													ng-change="selectedKolom()" ng-model="myData.locked">

												</select>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button ng-if=" formMaster.isEdit" type="button"
									class="btn btn-secondary" data-toggle="modal"
									data-target="#confirmSave">
									<i class="fa fa-arrow-right"></i> Ubah
								</button>
								<button type="button" class="btn btn-secondary"
									ng-click="cancelSave()" data-dismiss="modal">
									<i class="fa fa-times"></i> Kembali
								</button>

							</div>
						</div>
					</div>
				</div>

				<style>
.wrong-answer {
	color: red;
	border-color: red;
}

.right-answer {
	color: black;
	border-color: green;
}
</style>

				<div class="modal fade" id="managementPopup" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="text-center">
									<img style="width: 50px; height: 50px;"
										src="file/images/Bank_Mega_2013.svg" alt="sunil"
										class="rounded" />
								</div>
								<h5 class="modal-title" id="exampleModalLabel">
									<div>Add User</div>
								</h5>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<form action="#" class="form" role="form" id="login-nav">
											<div class="form-group">
												<b>SID </b> <input type="text" class="form-control"
													ng-change="checkValiditySid()" name="myDataSid"
													ng-model="myData.sid" placeholder="User SID" />
											</div>
											<div class="form-group">
												<b>Nama Lengkap </b> <input type="text" class="form-control"
													ng-model="myData.namaLengkap" placeholder="Nama Lengkap"
													non-null="non-null" />
											</div>
											<div class="form-group">
												<b>Email </b> <input type="text" class="form-control"
													ng-model="myData.email" placeholder="Email"
													ng-change="checkValidityEmail()" name="myDataEmail" />
											</div>
											<div class="form-group">
												<b>Is Login </b> <select class="form-control"
													ng-options="res.value for res in trueFalse"
													disabled="disabled" ng-change="selectedKolom()"
													ng-model="myData.isLogin">
													<option value="" disabled="disabled" selected="selected">--
														Silahkan Pilih --</option>
												</select>
											</div>
											<div class="form-group"></div>
											<div class="form-group">
												<b>Enabled </b><select class="form-control"
													ng-options="res.value for res in trueFalse"
													ng-change="selectedKolom()" ng-model="myData.enabled">
													<option value="" disabled="disabled" selected="selected">--
														Silahkan Pilih --</option>
												</select>
											</div>
											<div class="form-group">
												<b>Locked </b><select class="form-control"
													ng-options="res.value for res in trueFalse"
													ng-change="selectedKolom()" ng-model="myData.locked">
													<option value="" disabled="disabled" selected="selected">--
														Silahkan Pilih --</option>
												</select>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-toggle="modal" data-target="#confirmSave">
									<i class="fa fa-arrow-right"></i> Simpan
								</button>
								<button type="button" class="btn btn-secondary"
									ng-click="cancelSave()" data-dismiss="modal">
									<i class="fa fa-times"></i> Batal
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="confirmSave" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">Apakah Anda ingin menyimpan data
								tersebut?</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									ng-click="saveMyIdentity(myData)" data-toggle="modal"
									data-target="#finalSave" data-dismiss="modal">
									<i class="fa fa-check"></i> Ok
								</button>
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal" data-toggle="modal">
									<i class="fa fa-check"></i> Batal
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="finalSave" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">{{reason}}</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									ng-if="!invalid &amp;&amp; !formMaster.isEdit"
									ng-click="okSaveData()" data-dismiss="modal"
									data-target="#managementPopup" data-toggle="modal">
									<i class="fa fa-check"></i> Ok
								</button>
								<button type="button" class="btn btn-secondary"
									ng-if="!invalid &amp;&amp; formMaster.isEdit"
									ng-click="okSaveData()" data-dismiss="modal"
									data-target="#editView" data-toggle="modal">
									<i class="fa fa-check"></i> Ok
								</button>
								<button type="button" class="btn btn-secondary" ng-if="invalid"
									data-dismiss="modal" data-toggle="modal">
									<i class="fa fa-check"></i> Kembali
								</button>
							</div>
						</div>
					</div>
				</div>



				<div class="form-group">
					<div class="col-sm-3">
						<select class="form-control" ng-change="selectedKolom()"
							ng-model="kolom">
							<option value="" disabled="disabled" selected="selected">--
								Kolom --</option>
							<option value="created_date">Created Date</option>
							<option value="email">Email</option>
							<option value="enable">Enabled</option>
							<option value="isLogin">Is Login</option>
							<option value="locked">Locked</option>
							<option value="nama">Nama Lengkap</option>
							<option value="id">SID</option>
							<option value="recognize">User Name</option>
						</select>
					</div>

					<div class="col-sm-3">
						<input type="text" ng-if="kolom == undefined"
							ng-disabled="kolom == undefined" ng-model="searchUn"
							class="form-control" ng-change="searchFunction()" />
					</div>
					<div class="col-sm-3">
<!-- 						<input type="text" ng-model="searchText" 
							ng-if="kolom == 'id' || kolom == 'recognize' || kolom == 'nama' || kolom == 'email'"  
							class="form-control" ng-model-options="{debounce: 3000}" 
							ng-change="searchFunction(searchText)" id="sid"/> -->
						<input type="text" autocomplete="off" ng-model="searching"
							ng-if="kolom == 'id' || kolom == 'recognize' || kolom == 'nama' || kolom == 'email'"
							ng-change="searchFunction(searching)" class="form-control" id="sid" />
					</div>
					<div class="col-sm-3"
						ng-if="kolom == 'enable' || kolom == 'locked' || kolom == 'isLogin'">
						<select class="form-control"
							ng-change="searchFunction(searchDrop)" ng-model="searchDrop">
							<option value="" disabled="disabled" selected="selected">--
								Mohon Pilih --</option>
							<option value="true">YES</option>
							<option value="false">NO</option>
						</select>
					</div>
					<div class="col-sm-3" ng-if="kolom=='created_date'">
						<input type="date" class="form-control" ng-model="searchDate"
							style="vertical-align: middle; text-align: center;"
							ng-change="searchFunction(searchDate)" />

						<!-- 				<input type="text" class="form-control" ng-model="searchDate" -->
						<!-- 				    ng-change="searchFunction(searchDate)" -->
						<!-- 					placeholder="DD/MM/YYYY" id="datepickerBodo" datepicker="datepicker" /> -->
						<script type="text/javascript">
							$("#datepickerBodo").datepicker({
								dateFormat : 'dd/mm/yy'
							});
						</script>
					</div>

					<button class="searchDownloadBubble" ng-click="searchMyData(1)">
						<!-- <span class="glyphicon glyphicon-search" ></span> -->
						<i class="glyphicon glyphicon-search"></i>
					</button>
					<input type="hidden" ng-model="pageNumber" /> <input type="hidden"
						ng-model="pageNumber" /> <a th:if="${MENUDOWNLOAD}"
						th:href="@{/userMaintenanceWsCtl/downloadableFile}"
						class=" searchDownloadBubble"> <span
						class="glyphicon glyphicon-save-file"></span>
					</a>


				</div>

			</fieldset>
		</form>


		<style>
.searchDownloadBubble {
	border: none;
	background: none;
	font-size: 25px;
	color: black;
	padding: 0;
}

.sortBubble {
	position: relative;
	padding: 0;
	border: none;
	background: none;
	font-size: 8px;
	float: right;
}
</style>
		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow-y: hidden;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th
							style="text-align: center; vertical-align: middle; border: 1px solid black; vertical-align: middle;"><input
							type="checkbox" /></th>
						<th
							style="text-align: center; vertical-align: middle; border: 1px solid black; vertical-align: middle;">No.</th>
						<th
							style="text-align: center; vertical-align: middle; border: 1px solid black; vertical-align: middle;"
							width="20%">User Name</th>
						<th
							style="text-align: center; vertical-align: middle; border: 1px solid black; vertical-align: middle;">SID</th>

						<th
							style="text-align: center; vertical-align: middle; border: 1px solid black; vertical-align: middle;"
							width="50%">Nama Lengkap</th>

						<th
							style="text-align: center; vertical-align: middle; width: 8%; border: 1px solid black; vertical-align: middle;">Email

						</th>
						<th
							style="text-align: center; vertical-align: middle; width: 8%; border: 1px solid black; vertical-align: middle;">Is
							Login</th>
						<th
							style="text-align: center; vertical-align: middle; width: 10%; border: 1px solid black; vertical-align: middle;">Enabled

						</th>
						<th
							style="text-align: center; vertical-align: middle; width: 9%; border: 1px solid black; vertical-align: middle;">Locked


						</th>
						<th
							style="text-align: center; vertical-align: middle; width: 9%; border: 1px solid black; vertical-align: middle;">Created
							Date</th>

						<th
							style="text-align: center; vertical-align: middle; width: 9%; border: 1px solid black; vertical-align: middle;">Created
							By</th>
						<th
							style="text-align: center; vertical-align: middle; width: 9%; border: 1px solid black; vertical-align: middle;">Last
							Updated Date</th>
						<th
							style="text-align: center; vertical-align: middle; width: 9%; border: 1px solid black; vertical-align: middle;">Last
							Updated By</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in listSessions">
						<td style="text-align: center; border: 1px solid black;"><input
							type="checkbox" ng-model="list.isSelected"
							ng-change="checkData(list)" /></td>
						<td style="text-align: center; border: 1px solid black;">{{$index+1}}</td>
						<td
							style="width: 300px; text-align: center; border: 1px solid black;">{{list.userName}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.userId}}</td>

						<td
							style="width: 30px; text-align: center; border: 1px solid black;">{{list.namaLengkap}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.email}}</td>
						<td style="text-align: center; border: 1px solid black;">{{trueFalseTable(list.isLogin)}}</td>
						<td style="text-align: center; border: 1px solid black;">{{trueFalseTable(list.enabled)}}</td>
						<td style="text-align: center; border: 1px solid black;">{{trueFalseTable(list.locked)}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.createdDateString}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.createdBy}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.lastUpdatedDateString}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.lastUpdatedBy}}</td>
					</tr>
					<tr>
						<td colspan="14">Showing {{pageNumber}} to {{totalPage}} of
							{{total}} Entry
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber >= totalPage"
								ng-click="initializeData(pageNumber+1)">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{pageNumber}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber == 1"
								ng-click="initializeData(pageNumber-1)">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>