<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.min.css" />
<!-- iCheck -->
<link rel="stylesheet" href="plugins/iCheck/square/blue.css" />
<link href="style/captcha-custom.css" rel="stylesheet" />
<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/smsLogController.js"></script>
<!--for datepicker angular-->
<link href="assets/datepicker-google-lapis/datepicker.css"
	rel="stylesheet" type="text/css" />
<script src="assets/datepicker-google-lapis/datepicker.js"></script>
<script src="assets/datepicker-google-lapis/datepicker-ui.js"></script>
<script
	src="assets/datepicker-google-lapis/ajax-datepicker-google-lapis.js"></script>
<link href="assets/datepicker-google-lapis/datepicker.css"
	rel="stylesheet" type="text/css" />
<!--for datepicker angular-->
<title>SMS Log</title>
</head>
<body ng-app="smsLogController" ng-controller="smsLog">


	<div layout:fragment="content">

		<form class="form-horizontal">
			<fieldset id="commentFS">
				<legend>Data Log - SMS Log</legend>
				<div class="form-group">
					<label for="memorandum" class="col-sm-2 control-label pull-left"
						style="text-align: left">Status</label>
					<div class="col-sm-3">
						<select class="form-control" ng-model="status">
							<option value="" disabled="disabled" selected="selected">--
								Silahkan Pilih Status--</option>
							<option value="all">ALL</option>
							<option value="success">SUCCESS</option>
							<option value="pending">PENDING</option>
							<option value="unsuccess">UNSUCCESS</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="sid" class="col-sm-2 control-label text-left"
						style="text-align: left">Tanggal</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" autocomplete="off"
							ng-model="fromDate" placeholder="DD/MM/YYYY" id="datepickerFrom"
							datepicker="datepicker" />
						<script type="text/javascript">
							$("#datepickerFrom").datepicker({
								dateFormat : 'dd/mm/yy'
							});
						</script>
					</div>

					<label for="sid" class="col-sm-1 control-label text-left"
						style="text-align: left">To</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" autocomplete="off"
							ng-model="toDate" placeholder="DD/MM/YYYY" id="datepickerTo"
							datepicker="datepicker" />
						<script type="text/javascript">
							$("#datepickerTo").datepicker({
								dateFormat : 'dd/mm/yy'
							});
						</script>
					</div>
				</div>
				<div class="form-group"></div>
				<div class="form-group"></div>
				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" ng-click="searchMyFilterData(0)"
							class="col-sm-5 btn btn-warning btn-block">
							<strong>Search</strong>
						</button>
					</div>
				</div>
				<div class="form-group"></div>
				<div class="form-group"></div>
				<div class="form-group">

					<div class="col-sm-2 pull-left">
						<a class="btn btn-warning btn-block"
							style="background-color: green; text-align: center;"
							href="smsLogWsCtl/exportSmsLogExcel">Export Excel</a>
					</div>
					<div class="col-sm-2 pull-left">
						<a class="btn btn-warning btn-block"
							style="background-color: green; text-align: center;"
							href="smsLogWsCtl/exportSmsLogCsv">Export CSV</a>
					</div>
					<div class="col-sm-2 pull-left">
						<a class="btn btn-warning btn-block"
							style="background-color: green; text-align: center;"
							href="smsLogWsCtl/exportSmsLogPdf">Export PDF</a>
					</div>

					<div class="col-sm-1 pull-right">
						<button class="btn btn-warning" ng-click="searchMyFilterData(0)">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
					<div class="col-sm-0 pull-right">
						<input type="text" autocomplete="off" ng-model="search"
							ng-if="kolom == 'id' || kolom == 'tujuan' || kolom == 'statuslog' || kolom == 'user'|| kolom == 'all' || kolom == 'subject'"
							ng-change="searchMyData(0,search)" class="form-control" id="sid" />
					</div>
					<div class="col-sm-0 pull-right">
						<input type="text" autocomplete="off" ng-model="searchUn"
							ng-if="kolom == undefined" ng-disabled="kolom == undefined"
							ng-change="searchMyData(0,'')" class="form-control" id="sid" />
					</div>
					<div class="col-sm-2 pull-right">
						<input type="date" ng-if="kolom == 'tgl'" autocomplete="off"
							ng-model="searchDate"
							style="vertical-align: middle; text-align: center;"
							ng-change="searchMyData(0,searchDate)" class="form-control"
							id="sid" />
					</div>

					<div class="col-sm-2 pull-right">
						<select class="form-control" ng-model="kolom">
							<option value="" disabled="disabled" selected="selected">--
								Kolom --</option>
							<!-- <option value="id">Nomor</option> -->
							<option value="tujuan">Nomor Telepon</option>
							<option value="statuslog">Status</option>
							<option value="subject">Subject</option>
							<option value="tgl">Tanggal Pengiriman</option>
							<option value="user">User</option>
						</select>
					</div>
				</div>
				<div class="form-group"></div>
			</fieldset>
		</form>
		<div class="form-group"></div>
		<div class="form-group"></div>

		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow-y: hidden;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">No.
						</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Tanggal
							Pengiriman</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Nomor
							Telepon</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Subject
						</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Status
						</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">User
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in listSmsLog">
						<td style="text-align: center; border: 1px solid black;"
							width="3%">{{$index+1}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.logTglWaktuString}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.logTujuan}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.logSubject}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.logStatus}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list.logUser}}</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="8">Showing {{pageNumber+1}} to {{totalPage}} of
							{{total}} Entry
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber+1 >= totalPage"
								ng-click="searchMyData(pageNumber+1,'')">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{pageNumber+1}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber+1 == 1"
								ng-click="searchMyData(pageNumber-1,'')">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- jQuery 2.2.0 -->
	<script src="plugins/jQuery/jQuery-2.2.0.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="bootstrap/js/bootstrap.min.js"></script>


</body>
</html>