<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/ReportUserLogin.js"></script>
<link href="assets/datepicker-google-lapis/datepicker.css"
	rel="stylesheet" type="text/css" />
<script src="assets/datepicker-google-lapis/datepicker.js"></script>
<script src="assets/datepicker-google-lapis/datepicker-ui.js"></script>
<script
	src="assets/datepicker-google-lapis/ajax-datepicker-google-lapis.js"></script>
<link href="assets/datepicker-google-lapis/datepicker.css" />
<title>Report User Login</title>
</head>
<body ng-app="reportUserLoginController" ng-controller="reportUserLogin">


	<div layout:fragment="content">

		<!-- 	<button ng-click="killMeSession()">hapus</button> -->

		<form class="form-horizontal">
			<fieldset id="commentFS">
				<legend>Report User Login</legend>
				<div class="form-group">
					<label for="sid" class="col-sm-2 control-label text-left"
						style="text-align: left">User Type</label>
					<div class="col-sm-3">
						<select class="form-control" ng-change="selectedKolom()"
							ng-model="myData.kolom">
							<option value="" disabled="disabled" selected="selected">--
								User Type --</option>
							<option value="%%">All</option>
							<option value="admin">Admin</option>
							<option value="cs">Customer Service</option>
						</select>
					</div>

					<div class="col-sm-4"></div>
					<label for="sid" class="col-sm-2 control-label text-left"
						style="text-align: left">Total Login Sistem :
						{{totalSistemLogin}} </label>
				</div>
				<div class="form-group">
					<label for="sid" class="col-sm-2 control-label text-left"
						style="text-align: left">Date</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" autocomplete="off"
							ng-model="myData.startDate" placeholder="DD/MM/YYYY"
							id="datepicker1" datepicker="datepicker" />
						<script type="text/javascript">
							$("#datepicker1").datepicker({
								dateFormat : 'dd/mm/yy'
							});
						</script>
					</div>

					<label for="sid" class="col-sm-1 control-label text-left"
						style="text-align: center">To</label>

					<div class="col-sm-3">
						<input type="text" class="form-control"
						autocomplete="off"
						     ng-model="myData.endDate"
							placeholder="DD/MM/YYYY" id="datepicker2" datepicker="datepicker" />
						<script type="text/javascript">
							$("#datepicker2").datepicker({
								dateFormat : 'dd/mm/yy'
							});
						</script>
					</div>

					<div class="col-sm-2"></div>

					<label for="sid" class="col-sm-2 control-label text-left"
						style="text-align: left">Total Login Nasabah :
						{{totalLoginNasabah}} </label>

				</div>

				<div class="form-group">
					<label for="sid" class="col-sm-2 control-label text-left"
						style="text-align: left">Search</label>
					<div class="col-sm-3 ">

						<select class="form-control" ng-model="kolom">
							<option value="" disabled="disabled" selected="selected">--
								Kolom --</option>
							<option value="id">User Id</option>
						</select>
					</div>
					
					<label for="sid" class="col-sm-1 control-label text-left"
						style="text-align: center">Value</label>
					
					<div class="col-sm-3">
						<input type="text" ng-model="search" ng-disabled="kolom == undefined" class="form-control"/>

					</div>
					
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<input type="hidden" ng-model="pageNumber" />
						<button type="submit" ng-click="retrieveReportNew(1)"
							class="col-sm-2 btn btn-warning btn-block">Search</button>
					</div>
					<div class="col-sm-2">
						<input type="hidden" ng-model="pageNumber" /> <a
							style="background-color: green; text-align: center;"
							href="reportUserLoginWsCtl/download-report/admin/excel"
							class="col-sm-1 btn btn-warning btn-block">Export Excel</a>
					</div>
					<div class="col-sm-2">
						<input type="hidden" ng-model="pageNumber" /> <a
							style="background-color: green; text-align: center;"
							href="reportUserLoginWsCtl/download-report/admin/csv"
							class="col-sm-1 btn btn-warning btn-block">Export CSV</a>
					</div>
					<div class="col-sm-2">
						<input type="hidden" ng-model="pageNumber" /> <a
							style="background-color: green; text-align: center;"
							href="reportUserLoginWsCtl/download-report/admin/pdf"
							class="col-sm-1 btn btn-warning btn-block">Export PDF</a>
					</div>
					<p />



				</div>



			</fieldset>

		</form>

		<style>
.sortBubble {
	position: relative;
	padding: 0;
	border: none;
	background: none;
	font-size: 8px;
	float: right;
}
</style>

		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow-y: hidden;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">User
							Id</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Role</th>
						<th
							style="text-align: center; border: 1px solid black; vertical-align: middle;">Tanggal
							Login</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in detectedData">
						<td style="text-align: center; border: 1px solid black;">{{list[0].logUserId}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list[0].logUserTypeCodeName}}</td>
						<td style="text-align: center; border: 1px solid black;">{{list[0].logTglWaktuLogin|date:'dd/MM/yyyy
							HH:mm:ss'}}</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="11">Showing {{pageNumber}} to {{totalPage}} of
							{{total}} Entry
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber >= totalPage"
								ng-click="retrieveReportNew(pageNumber+1)">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{pageNumber}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber == 1"
								ng-click="retrieveReportNew(pageNumber-1)">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="modal fade" id="updateText" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">


							<!-- 						<button type="button" class="btn btn-secondary" -->
							<!-- 								ng-click="okSaveData()" > -->
							<!-- 								<i class="fa fa-check"></i> Raw		 -->
							<!-- 						</button> -->
							<!-- 						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 -->
							<!-- 						<button type="button" class="btn btn-secondary" -->
							<!-- 								ng-click="okSaveData()" > -->
							<!-- 								<i class="fa fa-check"></i> Beautify -->
							<!-- 						</button> -->
							<!-- 						<div style="height: 20px;"/> -->

							<textarea rows="20" cols="78"
								ng-model="listUpdated.wordingDetail"></textarea>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-toggle="modal" data-target="#confirmSaveText">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="confirmSaveText" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">
							Apakah Anda yakin menyimpan template ini?
							<p style="color: red;">Peringatan template yang tersimpan
								akan langsung terimplementasi ke ESBN-WEB.</p>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="okUpdateData()" data-dismiss="modal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>